{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block mi_contenedor %}
<section id="video-init" class="pt-4 bg-init">
    <div class="position-relative">
        <div class="row position-absolute col-12 text-center ">
            <p class="fade-in-text text-dark fs-4 bg-primary-subtle border border-primary-subtle rounded-3 d-none d-sm-none d-md-none d-lg-block"><b>Plataforma de Reseñas de Libros</b></p>
        </div>
        <div class="row d-none d-sm-none d-md-none d-lg-block">
            <video class="video" autoplay muted loop>
                <source src="/media/4243590-hd_1920_1080_30fps.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
    </div>
    <div class="container-md">
        <img src="/media/pexels-lex-photography-1109543.jpg" alt="Plataforma de Reseñas de Libros" style="width: 40rem;" class="d-block d-sm-block d-md-block d-lg-none">
    </div>
</section>

<section id="search" class="bg-init pt-2">
    <div class="row row-cols-1 row-cols-md-3">
        <div class="col mx-auto">
            <h6 class="card-subtitle pb-3 pb-1 text-center text-white">BUSCAR LIBRO</h6>
            <form action="" method="POST">{% csrf_token %}
                {{ form|crispy }}
                <button class="btn btn-secondary" type="submit">Buscar</button>
            </form>
        </div>
    </div>
</section>

<section id="gallery" class="bg-init">
    <div class="pt-5 pb-3 row row-cols-1 row-cols-md-4 g-4">
    {% for b in book %}
        <div class="col ps-5">
            <div class="card h-100" style="width: 18rem;">
                <img src="media/{{ b.imagen }}" class="card-img-top" alt="{{ b.titulo }}" height="200" width="200">
                <div class="card-body">
                    <h5 class="card-title">{{ b.titulo|title }}</h5>
                        {% for a in autor %}
                    <p class="card-text"><b>Autor:</b> {{ a.nombre|title }}</p>
                        {% endfor %}
                        {% for g in genero %}
                    <p class="card-text"><b>Género:</b> {{ g.nombre|title }}</p>
                        {% endfor %}
                    <p class="card-text"><b>Año:</b> {{ b.anio_publicacion }}</p>
                    <p class="d-none">{{ b.id }}</p>
                    <a href="{% url 'resena_book' %}" class="btn btn-primary libro_id">Reseñar</a>
                </div>
            </div>
        </div> 
    {% endfor %}       
    </div>
</section>
{% endblock %}
