{% extends 'base.html' %}
{% block mi_contenedor %}
    <div class="row row-cols-1 row-cols-md-2 g-4 pt-5">
        <div class="col mx-auto">
            <div class="card bg-dark text-white-50" style="width: 35rem;">
                <h6 class="card-subtitle pt-3 text-center text-white">PERFIL USUARIO</h6>
                <div class="card-body">
                    <form action="" method="POST">{% csrf_token %}
                        <div class="form-group">

                            <label for="username">Usuario</label><br>
                            <input type="text"
                                   class="form-control"
                                   name="username"
                                   disabled
                                   value="{{user.username}}">

                            <label for="first_name">Nombre</label><br>
                            <input type="text"
                                   class="form-control"
                                   name="first_name"
                                   disabled
                                   value="{{user.first_name}}">

                            <label for="last_name">Apellidos</label><br>
                            <input type="text"
                                   class="form-control"
                                   name="last_name"
                                   disabled
                                   value="{{user.last_name}}">

                            <label for="email">Email</label><br>
                            <input type="text"
                                    class="form-control"
                                    name="email"
                                    disabled
                                    value="{{user.email}}">
                        </div>
                    </form>
                    <div class="row pt-3">
                        <div class="col-1"></div>
                        <a class="btn btn-outline-light btn-lg col-4 fs-6" href="/update_user">Modificar</a>
                        <div class="col-1"></div>
                        <a class="btn btn-outline-light btn-lg col-4 fs-6" href="/">Volver</a>
                  </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
