{% extends "base.html" %}
{% block mi_contenedor %}
<div class="row row-cols-1 row-cols-md-2 g-4 pt-5">
    <div class="col mx-auto">
        <div class="card bg-dark text-white-50" style="width: 35rem;">
            <div class="card-body">
                <h1>Revisa tu correo</h1>
                <p>Le hemos enviado por correo electrónico instrucciones para configurar su contraseña. Si no han llegado en unos minutos, revisa tu carpeta de spam.</p>
                    <div class="row pt-3">
                    <div class="col-1"></div>
                    <a class="btn btn-outline-light btn-lg px-5 col-4" href="{% url 'home' %}">Volver</a>
                    </div>
              </div>
            </div>
        </div>
    </div>
{% endblock %}
