{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block mi_contenedor %}
<div class="row row-cols-1 row-cols-md-3 g-4 pt-5">
    <div class="col mx-auto">
        <div class="card bg-dark text-white-50" style="width: 30rem;">
            <h6 class="card-subtitle pt-3 text-center text-white">Ingrese nueva clave</h6>
              <div class="card-body">
        <form action="" method="post">
            <div style="display:none">
                <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
            </div>
                {{ form.new_password.errors }}
                {{ form.password|as_crispy_field }}
                <input type="submit" value="Cambiar mi contraseña" />
        </form>
    </div>
</div>
</div>
</div>
{% endblock %}
